<h1>Companies Using Our Service</h1>

<a href="/guest/new">
    <button>
        New Company
    </button>
</a>

{{#each allGuest}}
    <a href="/guest/{{_id}}">
        <p>Guest: {{singleGuest.name}}</p>
    </a>
{{/each}}