<h1 class="heading">Guest Log</h1>

<div class="center">
    <a href="/guest/new">
        <button>
            Guest Sign In
        </button>
    </a>
</div>
<table class="container">
    <tr>
        <td>
            <h4 class="center">Name</h4>
        </td>
        <td>
            <h4 class="center">Sign In</h4>
        </td>
        <td>
            <h4 class="center">Sign Out</h4>
        </td>
    </tr>
    {{#each allGuest}}
        <a href="/guest/{{_id}}">
            <tr>
                <td>
                   <p>{{guestName}}</p>
                </td>
                <td>
                    <p>{{signIn}}</p>
                </td>
                <td>
                    <p>{{signOut}}</p>
                </td>
                <td>
                    <button class="button-container">
                        <p class="sign-out-button">
                            Sign Guest Out
                        </p>
                    </button>
                </td>
            </tr>
        </a>
    {{/each}}
</table>
</div>