<h1>Guest Log</h1>

<a href="/company">
    <p>Companies</p>
</a>
<a href="/vendor">
    <p>Vendors</p>
</a>

<a href="/guest/new">
    <button>
        Guest Sign In
    </button>
</a>

{{#each allGuest}}
    <a href="/guest/{{_id}}">
        <p>{{guestName}}</p>
    </a>
{{/each}}