<h1 class="heading">Guest Log</h1>

<div class="center">
    <a href="/guest/new">
        <button>
            Guest Sign In
        </button>
    </a>
</div>
<table class="table-container">
    <tr>
        <td>
            <h4 class="center">Guest Name</h4>
        </td>
        <td>
            <h4>Inspect Guest</h4>
        </td>
    </tr>
    {{#each allGuest}}
            <tr>
                <td>
                   <p class="center">{{guestFirstName}} {{guestLastName}}</p>
                </td>
                <td class="move-button">
                    <a href="/guest/{{_id}}">
                        <button>
                            <p>Check Guest</p>
                        </button>
                    </a>
                </td>
            </tr>
    {{/each}}
</table>
</div>