html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(185, 7, 7);
    position: relative;
    height: 100px;
}

a {
    text-decoration: none;
    color: black;
}

.header-wrapper{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-button-holder {
    display: flex;
    justify-content: space-around;
}

.nav-buttons {
    display: flex;
    align-content: center;
    border-left: 1px solid white;
}

.nav-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 75px;
    margin: 20px 5px;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

.heading {
    text-align: center;
}

.logo {
    width: auto;
    height: 100px;
}

.box {
    width: 25%;
    height: 200px;
    border: 1px solid black; 
    border-radius: 5px;
    margin: 20px 10px;
    display: inline-block;
}

.container {
    width: 100%;
}

#nav-buttons-left {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.center {
    display: flex;
    justify-content: center;
}

.title-bar {
    display: flex;
    justify-content: space-between;
}