<h1 class="heading">Companies We Serve</h1>

<div class="container">
    {{#each allCompany}}
        <div class="box">
            <a href="/company/{{_id}}">
                <img src="{{companyImage}}">
                <p>{{companyName}}</p>
            </a>
        </div>
    {{/each}}
</div>
<div class="center">
    <a href="/company/new">
        <button>
            New Company
        </button>
    </a>
</div>