<h1>Companies Using Our Service</h1>

<a href="/company/new">
    <button>
        New Company
    </button>
</a>

{{#each allCompany}}
    <a href="/company/{{_id}}">
        <p>Business Name: {{name}}</p>
    </a>
{{/each}}