<h1>Company Details</h1>

<form action="/issue" method="POST">
    <input type="text" name="name" placeholder="Comapny Name">
    <input type="text" name="location" placeholder="Address">
    <input type="boolean" name="subscriptionStatus" placeholder="Currently Subscribed">

    <input type="submit" value="Submit">
</form>