<h1 class="heading">Company Details</h1>

<form class="center" action="/company" method="POST">
    <input class"margin-sides" type="text" name="companyName" placeholder="Company Name">
    <input type="text" name="companyAddress" placeholder="Company's Address">
    {{!-- <input type="text" name="companyImage" placeholder="Company Image"> --}}
    <input type="text" name="companyPhoneNumber" placeholder="Company Phone Number">

    <input type="submit" value="Submit">
</form>
<div class="center">
<a href="../guest/new">
    <button>
        Create Guest Log
    </button>
</a>

<a href="../vendor/new">
    <button>
        Register Vendors With This Location
    </button>
</a>
</div>