<h1 class="heading">Vendors</h1>

<div class="container">
    {{#each allVendor}}
        <div class="box">
            <a href="/vendor/{{_id}}">
                <p>{{vendorName}}</p>
            </a>
        </div>
    {{/each}}
</div>

<div class="center">
    <a href="/vendor/new">
        <button>
            Create New Vendor
        </button>
    </a>
</div>