<h1>Vendors</h1>

<a href="/company">
    <p>Companies</p>
</a>
<a href="/guest">
    <p>Guests</p>
</a>

<a href="/vendor/new">
    <button>
        Create New Vendor
    </button>
</a>

{{#each allVendor}}
    <a href="/vendor/{{_id}}">
        <p>{{vendorName}}</p>
    </a>
{{/each}}

