<h1>Register Vendor</h1>

<form action="/vendor" method="POST">
    <input type="text" name="vendorName" placeholder="Vendor">
    <input type="text" name="vendorAddress" placeholder="Address">
    <input type="text" name="vendorPhoneNumber" placeholder="Phone Number">
    <input type="text" name="service" placeholder="Service">
    <input type="text" name="companyId" placeholder="Company ID">

    <input type="submit" value="Submit">
</form>
