<h1> Details</h1>

<form action="/vendor" method="POST">
    <input type="text" name="name" placeholder="Vendor">
    <input type="text" name="vendorLocation" placeholder="Address">
    <input type="text" name="visitingCompany" placeholder="Visiting">
    <input type="text" name="phoneNumber" placeholder="Phone Number">
    <input type="text" name="service" placeholder="Service">

    <input type="submit" value="Submit">
</form>